{{ template "base" .}}

{{ define "content" }}

<main class="container">
    <section class="p-5 mb-4 bg-light rounded-3">
      <h1 class="">About page</h1>
      <hr />
      <article>
        <p>Welcome!</p>
        <br />
        <br />
        <p>This came form the template: {{ index .StringMap "test" }}</p>
 
        <p>{{ if ne (index .StringMap "remote_ip") "" }}
          <br />
          <br />
          <p>Remote IP: {{ index .StringMap "remote_ip" }}</p>
       
          {{ else }}
          Please visit the <a href="/">home page</a> to see the remote IP.
          {{ end }}
        </p>
      </article>
    </section>
  </main>

  {{ end }}