{{ template "base" .}}

{{ define "content" }}
<main class="flex-shrink-0">
  <section class="container">
    <h1>Temp title</h1>
    <article>
      <p class="lead">
        Temp description of landing page.
      </p>
      <p class="lead">
        <a
          href="/about"
          class="btn btn-lg btn-light fw-bold border-white bg-white"
          >Learn more</a
        >
      </p>
    </article>
  </section>
</main>

{{ end }}
